name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: move pacman svg to root
        run: |
          mv dist/pacman-contribution-graph.svg pacman-contribution-graph.svg

      - name: commit pacman svg to main
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pacman-contribution-graph.svg
          git commit -m "update pacman contribution graph" || exit 0
          git push
