name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: generate pacman svgs
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: move svgs to root
        run: |
          mv dist/pacman.svg pacman.svg
          mv dist/pacman-dark.svg pacman-dark.svg

      - name: commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add pacman.svg pacman-dark.svg
          git commit -m "update pacman contribution graph" || exit 0

          git pull --rebase origin main
          git push origin main
