name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate pacman contribution graph
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Move SVGs to root
        run: |
          mv dist/pacman-contribution-graph.svg pacman.svg
          mv dist/pacman-contribution-graph-dark.svg pacman-dark.svg

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add pacman.svg pacman-dark.svg
          git commit -m "update pacman contribution graph" || exit 0

          git pull --rebase origin main
          git push origin main
