name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: luanalima77
          outputs: |
            pacman.svg
            pacman-dark.svg?palette=github-dark

      - name: commit pacman svgs
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pacman*.svg
          git commit -m "update pacman contribution graph" || exit 0
          git push
